{% if controls.palette %}
- type: entities
  title: {{ labels.ui.palette | to_yaml }}
  entities:
    - type: attribute
      entity: sensor.house_palette
      attribute: label
      name: {{ labels.ui.palette | to_yaml }}
      icon: mdi:palette
{% if palette.house.chip %}
    - entity: input_boolean.house_palette
      name: {{ labels.ui.palette_today | to_yaml }}
      icon: mdi:palette-swatch
{% endif %}
{% endif %}
